body{
    margin: 0px;
}
@media screen and (max-width:600px) {
    
    .box2{
       order:3;
    }
   }  
.header{
    background-color: #ADD8E6;
    text-align: center;
    height: 100px;
    line-height: 100px;
    font-weight: bold;
    
}
.menu{
    background-color: #2F4F4F;
    display: inline;
    color: white;
    border-right: 1px solid black;
}
.box1{
    height: 500px;
    background-color: #AAAAAA;
}
.box2{
    height: 500px;
    background-color: #BBBBBB;
}
.box3{
    height: 500px;
    background-color: #CCCCCC;
}
.footer{
    text-align: center;
    height: 100px;
    line-height: 100px;
    background-color: #2F4F4F;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

/* .menu >.menu1,.menu2,.menu3{
   border-right: 1px solid black;

} */

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:inherit; 
    padding:0 10px; 
    border-bottom:none;
}