
@media screen and (max-width:600px) {
     .flex-container{
        flex-wrap: wrap;
     }
     
     .flex-container .column2{
        flex-basis: 100%;
        order:3;
     }
    }  
body{
    margin: 0px;
}
.grid-container{
    display: grid;
    grid-template-areas: 'header'
    'menu'
    'row' 
    'footer';
}  
.item1{ 
    grid-area: header;
    background-color: #ADD8E6;
    text-align: center;
    color: black;
    font-weight: bold;
    padding: 20px;
    font-size: 20px;
  }
.item2{ 
    grid-area: menu;
    background-color: #2F4F4F;
   }
.item3{ 
    grid-area: row;
    
}
.item4{ 
    grid-area: footer;
    background-color: #2F4F4F;
    color: white;
    padding: 20px;
    text-align: center;
}


.flex-container{
    display: flex;
    
}
.flex-container > .menus{
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 10px;
    font-size: 20px;
    color: white; 
}
.flex-container > .column1{
  height: 30vh;
  background-color: #AAAAAA;
  flex-basis:50%;
  box-sizing: border-box;
}
.flex-container > .column2{
    height: 30vh;
    background-color: #BBBBBB;
    flex-basis:100%;
    box-sizing: border-box;
  }
  .flex-container > .column3{
    height: 30vh;
    flex-basis:50%;
    box-sizing: border-box;
    background-color: #CCCCCC;
  }